.page-break-table {
  width: 100%;
  border-collapse: collapse;
}

.page-break-table th,
.page-break-table td {
  border: 1px solid #ddd;
  padding: 6px;
}

.page-break-table tr {
  page-break-inside: avoid !important;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}